@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  position: relative;
  border:none;
}
.nav:hover {
  border: none;
}

.nav::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom:0;
  background-color: #3b82f6;
  transition: all ease-in-out .2s;
}

.nav:hover::after{
  width: 100%;
  left: 0;
}

.nav-dark {
  position: relative;
  border:none;
}
.nav-dark:hover {
  border: none;
}

.nav-dark::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom:0;
  background-color: #0C3BAA;
  transition: all ease-in-out .2s;
}

.nav-dark:hover::after{
  width: 100%;
  left: 0;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
